<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <!-- <li><a href="#" class="button">Link 1</a></li>
        <li><a href="#" class="button">Link 2</a></li>
        <li><a href="#" class="button">Link 3</a></li>
        <li><a href="#" class="button">Link 4</a></li> -->
      </ul>
    </div>
    <h1>Blog <small>This is my blog. It's awesome.</small></h1>
    <hr>
  </div>
</div>

<div class="row">
 
  <div class="large-9 columns" role="content">
    <article>
      <h3><a href="#">Blog Post Title</a></h3>
      <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>
      <div class="row">
        <div class="large-9 columns">
          <%= Crawler.crawl("http://soha.vn/xa-hoi/bi-mat-mo-vang-huyen-giang-va-su-tan-doc-cua-nhom-cuop-can-20151115145959052.htm").at("div.page-body").to_s.html_safe%>
        </div>
      </div>
    </article>
    <hr>
  </div>
   
   
  <aside class="large-3 columns">
    <h5>Categories</h5>
    <ul class="side-nav">
      <li><a href="#">News</a></li>
      <li><a href="#">Code</a></li>
      <li><a href="#">Design</a></li>
      <li><a href="#">Fun</a></li>
      <li><a href="#">Weasels</a></li>
    </ul>
    <div class="panel">
      <h5>Featured</h5>
      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
      <a href="#">Read More →</a>
    </div>
  </aside>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class=""> <b>May you also like</b>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-9 show-for-small columns">
    <h3>Header</h3><hr>
  </div>
  <div class="large-3 small-6 columns">
    <img src="http://placehold.it/500x500&amp;text=Thumbnail">
    <div class="panel">
      <p>Description</p>
    </div>
  </div>
  <div class="large-3 small-6 columns">
    <img src="http://placehold.it/500x500&amp;text=Thumbnail">
    <div class="panel">
      <p>Description</p>
    </div>
  </div>
  <div class="large-3 small-6 columns">
    <img src="http://placehold.it/500x500&amp;text=Thumbnail">
    <div class="panel">
      <p>Description</p>
    </div>
  </div>
  <div class="large-3 small-6 columns">
    <img src="http://placehold.it/500x500&amp;text=Thumbnail">
    <div class="panel">
      <p>Description</p>
    </div>
  </div>
</div>