// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-content {
  min-height: 100px;
  max-height: auto;
  overflow: hidden;
}
.post-title {
  width: 100%;
  height: 70px;
  text-overflow: ellipsis;
}
.post-descrition {
  overflow: hidden;
  height: 80px;
  text-overflow: ellipsis;
}
.center1 {
    margin: 0% 50% 1% 33%;
}
.next-page {
  font-size: 30px;
  color: #043DF2;
}