<div class="row center">
    <div class="large-12 columns">
      <nav class="top-bar">
		<ul class="title-area">
		 
		<li class="name">
		<h1>
		<a href="#">
		Chia sẻ links
		</a>
		</h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">
		 
		<ul class="left">
			<li>
				<a class="active" href="#">Thời sự</a>
			</li>
			<li>
				<a class="active" href="#">Thế giới</a>
			</li>
			<li>
				<a class="active" href="#">Thể thao</a>
			</li>
			<li>
				<a class="active" href="#">Pháp luật</a>
			</li>
			<li>
				<a class="active" href="#">Giải trí</a>
			</li>
			<li>
				<a class="active" href="#">Tâm sự</a>
			</li>
		</ul>
		 
		<ul class="right">
			<% if current_user %>
				<li class="divider"></li>
					<li class="has-dropdown not-click">
					<a href="#"><%= current_user.email %></a>
					<ul class="dropdown"><li class="title back js-generated"><h5><a href="#">Back</a></h5></li>
					<li><a href="#">Tin đã lưu</a></li>
					<!-- <li><a href="#">Dropdown Option</a></li>
					<li><a href="#">Dropdown Option</a></li> -->
					<!-- <li class="divider"></li> -->
					<li><%= link_to "Đăng xuất", destroy_user_session_path, :method => :delete %></li>
					</ul>
				</li>
			<% else %>
			<li><%= link_to "Đăng nhập" , new_user_session_path %></li>
			<li><%= link_to "Đăng ký" , new_user_registration_path %></li>
			<%end%>
		</ul>
	</section>
	</nav>
	</div>
</div>